/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #fafaf5;
  font-family: Montserrat, Poppins-Regular;;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

body#index-body{
  background-image: url("../images/background.jpeg");
  background-size: cover;
}

footer#index-footer{
  color: #fff;
}


h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  font-family: Montserrat, Poppins-Regular;
}

h2{
  color: #fff;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}

nav{
  /* background-color: #ddd; */
  text-align: left;
  padding: 35px 35px;
  align-self: center;
}


nav li{
  display:inline;
  padding-right:20px;
}

nav li a.right{
  float: right;
}

nav a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: Montserrat, Poppins-Regular;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: #fff;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

  /*Your code here - position relative to the parent */
  position: absolute;
  /*Your code here - place 40px higher */;
  top: -40px;
}

.skip a:focus{
  top:0px;
}
 

/* *:focus{
  border: 2px solid #000;
} */

footer{
  background-color: transparent;
  background: #262730 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/noise-bg.png) repeat 0 0;
  color: #000;
  color: #fff;
  text-align: center;
}

.footerContent{
  display: flex;
  padding: 33px 180px 33px 180px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.intro{
  /* Parallax effect */
  /* background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;     
  height: 1000px;  */
  /* Parallax effect */
  /* background-color: #000; */
  color: #fff;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  /* background-image: url('../images/sunset2.jpeg'); */
}

header h1{
  font-size: 60px;
}

header p{
  color: white;
  font-size: 28px;
  padding: 0 100px;
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: auto 600px auto;
  grid-template-rows: 900px 20px;
}

.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid #000;
  padding: 30px;
  align-self: center;
}

li.right{
  float: right;
}

/*==================================================================
[ Landing Page ]*/
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
	background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-canvas .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}


/*==================================================================
[ Contact Page ]*/

.contactContainer{
  display: grid;
  grid-template-columns: auto 600px auto;
  grid-template-rows: 1000px 1000px 300px;
}

.wrap-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* width: 1170px; */
  background: #fff;

  /* background: #F5FCEE ; */
  /* border: 1px black solid; */
  /* border-radius: 10px; */
  padding: 82px 180px 33px 180px;
  position: relative;
}

.wrap-input {
  width: 100%;
  position: relative;
  /* border-bottom: 2px solid #d9d9d9; */
  padding-bottom: 13px;
  margin-bottom: 65px;
}

.rs1-wrap-input {
  width: calc((100% - 100px) / 2);
}

nav.contact a{
  color: #000;
}

label{
  display: block;
  color: #555;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
  padding-left: 5px;
  font-family: Montserrat, Poppins-Regular;
}

fieldset{
  border-radius: 10px;
}

.contactForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactForm p{
  margin: 0 100px 25px 0;
  line-height: 1.2;
}



.form-title {
  display: block;
  width: 100%;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 44px;
  font-family: Montserrat, Poppins-Bold;
}



input[type=text], input[type=submit], select{
  display: block;
  background: transparent;
  border: 1px solid black;
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 4px;
  font-size: 16px;
  /* color: #555; */
  line-height: 1.2;
  font-family: Montserrat, Poppins-SemiBold;
}

textarea{
  width: 100%;
  height: 100px;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: Montserrat, Poppins-SemiBold;
}

input, textarea, select{
  background-color:#FFFFFF;
}

input:focus{
  border: 2px solid black;
}

.parallax {
  /* The image used */
  background-image: url("../images/road2.jpg");

  /* Full height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*==================================================================
[ Button ]*/

.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #ff4b5a;
  /* background-color: #33B8FF; */
  border-radius: 25px;

  font-family: Montserrat, Poppins-Medium;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5); 
  -moz-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
}

.contact100-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background-color: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*==================================================================
[ Gallery ]*/

nav.life a{
  color: #000;
}

h2.black {
  color: #000;
  font-family: Montserrat;
}

.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 100px 20px ;
}

.column{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 33%;
}

.card > img{
  margin: 10px;
  width: 100%;
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.card{
  margin: 10px;
  overflow: hidden;
  float: left;
  position: relative;
  text-align: center;
  cursor: default;
}

.card .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.card:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.card:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.card h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.card a, .card p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.card:hover a, .card:hover p, .card:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.caption-text > h1{
  font-size: 20px;
}

.caption-text > p{
  font-size: 16px;
}


/*==================================================================
[ About ]*/

.aboutContainer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: 900px 20px; */
  margin: 100px 120px 100px;
}

.aboutText{
  margin: 50px;
  line-height: 150%;
}

img.rounded-circle{
  border-radius: 50%;
  width: 80%;
  margin:auto;
  box-shadow: 0 20px 10px -10px #06060750;
}

nav a.current{
  font-family: Montserrat, Poppins-Bold;
  /* color: #ff4b5a; */
  /* color: #33B8FF; */
  color: #3f729b;
  text-decoration: underline;
}

/*==================================================================
[ Skill ]*/

.skillContent small{
  font-style: italic;
  font-size: 80%;
}

.skillContent p{
  padding: 10px 0;
  line-height: 1.2;
  text-align: center;
}

.skillContainer {
  width: 80%;
  /* max-width: 600px; */
  margin: 0 auto;
  overflow: hidden;
}

.skillContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0px auto;
  position: relative;
  float: left;
  padding: 30px 0 30px;
}
.col {
  position: relative;
  width: 100%;
  margin: 0px auto;
}

#skill {
  list-style: none;
  padding-top: 30px;
}

#skill li {
  margin-bottom: 50px;
  background: #333;
  height: 15px;
  border-radius: 10px;
  border: 2px solid #222;
}

#skill li em {
  position: relative;
  top: -30px;
  font-style: normal;
  font: 16px "Roboto Slab", sans-serif;
  font-weight: 300;
}

.expand {
  height: 10px;
  /* margin: 2px; */
  border-radius: 10px;
  background: linear-gradient(to right, #77aef5 0%, #3550e9 100%);
  position: absolute;
  box-shadow: 0px 0px 3px 1px rgba(84, 130, 162, 0.6);
}

.cpp {
  width: 90%;
  -moz-animation: cpp 2s ease-out;
  -webkit-animation: cpp 2s ease-out;
}
.python {
  width: 90%;
  -moz-animation: python 2s ease-out;
  -webkit-animation: python 2s ease-out;
}
.web {
  width: 70%;
  -moz-animation: web 2s ease-out;
  -webkit-animation: web 2s ease-out;
}
.r {
  width: 60%;
  -moz-animation: r 2s ease-out;
  -webkit-animation: r 2s ease-out;
}
.matlab {
  width: 60%;
  -moz-animation: matlab 2s ease-out;
  -webkit-animation: matlab 2s ease-out;
}
.java {
  width: 30%;
  -moz-animation: java 2s ease-out;
  -webkit-animation: java 2s ease-out;
}

@-moz-keyframes cpp {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes python {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes web {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@-moz-keyframes r {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@-moz-keyframes matlab {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@-moz-keyframes java {
  0% {
    width: 0px;
  }
  100% {
    width: 30%;
  }
}

@-webkit-keyframes cpp {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes python {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes web {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes r {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes matlab {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes java {
  0% {
    width: 0px;
  }
  100% {
    width: 30%;
  }
}

/*==================================================================
[ Course ]*/

.courseList{
  margin-left: 150px;
}

.courseList li{
  margin: 20px 0;
  font-size: 80%;
}

/*==================================================================
[ Social Container]*/

@font-face {
  font-family: 'icomoon';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2") format("truetype"), url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.social-networks {
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: center;
}
.social-networks li {
  display: inline-block;
}
.social-networks a {
  display: block;
  position: relative;
  margin: 0 7px;
  width: 68px;
  height: 68px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
}
.social-networks a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 100px;
  background-color: #1f2027;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.social-networks a:after {
  position: relative;
  display: block;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  font-size: 26px;
  line-height: 66px;
}
.social-networks a:hover, .social-networks a:focus {
  text-decoration: none;
}
.social-networks.spin-icon a:hover:after, .social-networks.spin-icon a:focus:after {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}
.social-networks.square a:hover:before, .social-networks.square a:focus:before {
  border-radius: 0;
}
.social-networks.bounce a:hover, .social-networks.bounce a:focus {
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
}
.social-networks .icon-linkedin:after {
  content: "";
}
.social-networks .icon-linkedin:hover:before, .social-networks .icon-linkedin:focus:before {
  background: #0077b5;
}
.social-networks .icon-facebook:after {
  content: "";
}
.social-networks .icon-facebook:hover:before, .social-networks .icon-facebook:focus:before {
  background: #3b5998;
}
.social-networks .icon-twitter:after {
  content: "";
}
.social-networks .icon-twitter:hover:before, .social-networks .icon-twitter:focus:before {
  background: #00b0ed;
}
.social-networks .icon-github:after {
  content: "";
}
.social-networks .icon-github:hover:before, .social-networks .icon-github:focus:before {
  background: #4183c4;
}
.social-networks .icon-instagram:after {
  content: "";
}
.social-networks .icon-instagram:hover:before, .social-networks .icon-instagram:focus:before {
  background: #3f729b;
}
.social-networks .icon-vimeo:after {
  content: "";
}
.social-networks .icon-vimeo:hover:before, .social-networks .icon-vimeo:focus:before {
  background: #1ab7ea;
}
.social-networks .icon-twitch:after {
  content: "";
}
.social-networks .icon-twitch:hover:before, .social-networks .icon-twitch:focus:before {
  background: #6441a5;
}
.social-networks .icon-pinterest:after {
  content: "";
}
.social-networks .icon-pinterest:hover:before, .social-networks .icon-pinterest:focus:before {
  background: #cc2127;
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -6px, 0);
            transform: translate3d(0, -6px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -6px, 0);
            transform: translate3d(0, -6px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
}

/*==================================================================
[ Project ]*/  

.heading{
  display: block;
}

.heading p{
  width: 70%;
  margin: 10px auto;
}

.projectContent{
  padding: 5rem 5rem 8rem;
}

.heading p{
  text-align: justify;
}

* {
  box-sizing: border-box;
}

.projectContainer{
  display: flex;
  flex-direction: column-reverse;
}

.projectCard{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  width: 70%;
  margin: 1rem auto;
  padding: 2rem;
}

.projectImg{
  border-radius: 50%;
  width: 80%;
  box-shadow: 0 20px 10px -10px #25293450;

}

.projectName{
  font-family: Poppins-Bold;
  text-align: left;
  text-transform: uppercase;
  color: #3f729b;
  line-height: 100%;
}

.projectTitle small{
  font-style: italic;
  font-size: 80%;
}

.icons{
  opacity: 0.5;
}

.projectDetails{
  margin: auto 0;
}

.projectDetails p{
  font-size: 22px;
  margin: 16px 0;
}

.projectLink{
  display: block;
  margin: auto 0;
  overflow: hidden;
  text-align: center;
}



@media all and (max-width: 1024px){
/*==================================================================
[ Gallery ]*/  
  .gallery{
    flex-direction: column;
  }

  .column{
    width: 100%;
  }
/*==================================================================
[ About ]*/ 
  .aboutContainer{
    display: grid;
    grid-template-columns: auto;
  }
  img.rounded-circle{
    margin: auto;
  }

/*==================================================================
[ Course ]*/ 
  .courseList{
    margin-left: 50px;
  }
/*==================================================================
[ Project ]*/  
  .projectCard{
    grid-template-columns: 1fr 2fr;
  }
  .projectContent{
    padding: 5rem 0rem 8rem;
  }
}


@media all and (max-width: 800px){

  body#index-body{
    background-image: url("../images/background-2.jpeg");
  }

  nav li a.right{
    float: none;
  }

  nav {
    text-align: center;
  }
  .container{
    grid-template-rows: 900px 20px;
    row-gap: 15px;
  }
/*==================================================================
[ Contact Page ]*/  
  .rs1-wrap-input {
    width: 100%;
  }

  .wrap-contact {
    padding: 20px 60px 20px;
  }

  .parallax{
    height: 400px;
  }
/*==================================================================
[ Gallery ]*/  


/*==================================================================
[ Project ]*/  
  .projectCard{
    grid-template-columns: 1fr;
  }

  .heading p{
    text-align: left;
  }

  .projectContent{
    padding: 0;
  }
/*==================================================================
[ About ]*/ 
  .aboutContainer{
    margin: 20px 0px 0px;
  }

  .aboutText{
    margin: 10px;
  }
/*==================================================================
[ Skill ]*/ 
  .skillContent{
    grid-template-columns: 1fr;
  }
/*==================================================================
[ Course ]*/ 
  .courseList{
    margin-left: 30px;
    text-align: center;
  }
  .course{
    margin-top: 30px;
  }
/*==================================================================
[ Footer ]*/ 
  .footerContent{
    padding: 33px 50px;
  }
  .footerContent p{
    font-size: 16px;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none;
    transition: none;
  }
}
